name: 'test'
on:
  workflow_dispatch

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v2
        
      - name: list all the tags
        run: |
            git --version
            git tag -l
