name: 'test'
on:
  workflow_dispatch

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v2
        with:
          repository: Srikanth1916/dynatraceintegration
      - run: |
          git tag --list
